#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    height: 490px;
}

#hero-envelope {
    top: 24%;
    position: relative;
    height: 190px;
    width: 158px;
}

#hero-envelope img {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.151));
}

@keyframes slideUpMargin {
    0% {
        margin-bottom: -45px;
    }

    50% {
        margin-bottom: -20px;
    }
        
    100% {
        margin-bottom: -30px;
            
    }
}

#hero-card {
    scale: 0.8;
    margin-left: -13px;
    margin-bottom: -45px;
    animation-name: slideUpMargin;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


.doodle-text-container {
    position: absolute;
}

.hero-text {
    position: absolute;
    font-size: 30px;
}

#sparkle {
    top: 6%;
    left: 53%;
}

#online {
    top: 2%;
    left: 12%;
}

#e-cards {
    
    top: 8%;
    left: 28%;
}

#e-dash {
    top: 45px;
    left: -30px;
}
#circle-for {
    top: 10%;
    left: 67%;

}
#circle {
    top: 19px;
    left: -22px;
}

#every-underline {
    top: 60%;
    left: 21%;
}

#underline {
    top: 70px;
    left: -16px;
}

#plane-occasion {
    top: 68%;
    left: 45%;    
}

#paper-plane {
    left: 115px;    
}

#popular-categories-header {
    padding-block: 8px;
    padding-inline: 18px;
    height: fit-content;
    width: fit-content;
}

#popular-categories-header h2 {
    margin: 0px;
    font-size: larger;
}

#popular-categories-header p{
    display: none;
}

.category {
    padding-block: 12px;
    padding-inline: 18px;
    height: 56px;
    width: 134px;
    max-width: 176px;
    font-size: 12px;
}

.category h3 {
    margin: 0px;
}

#categories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11px;
}

.category img {
    margin-left: 90px;
    margin-top: -10px;
}

#congrats-icon img {
    margin-top: -15px;
    margin-left: 85px;
}

#send-a-gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-inline: 30px
}

#send-a-gift h2 {
    font-size: larger;
    margin: 0;
    margin-bottom: 6px;
}

#send-a-gift p {
    font-size: 12px;
    width: 265px;
    margin: 0;
    margin-bottom: 12px;
}

#date-scroll {
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.date {
    margin-block: 0;
    font-size: 25px;
    width: 390px;
    height: 50px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(390px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
    text-wrap: nowrap;
}

.date1 {
    animation-delay: calc(25s / 5 * (5 - 1) * -1);
}

.date2 {
    animation-delay: calc(25s / 5 * (5 - 2) * -1);
}

.date3 {
    animation-delay: calc(25s / 5 * (5 - 3) * -1);
}

.date4 {
    animation-delay: calc(25s / 5 * (5 - 4) * -1);
}

.date5 {
    animation-delay: calc(25s / 5 * (5 - 5) * -1);
}

@keyframes scrollLeft {
    to {
      left: -390px;
    }
  }

#member-section-right-align {
    text-align: right;
    align-self: flex-end;
}


.member-section img {
    margin-inline: 8px;
}

.member-section #clock-img {
    margin-inline: 10px;
}


@media only screen and (min-width: 800px){
    #hero-section {
        width: calc(100% - 40px);
    }

    #hero-section button{
        margin-bottom: 30px;
        
    }

    #hero-envelope {
        scale: 1.6
    }

    #hero-card {
        margin-bottom: -30px;
        scale: 0.8;
    }

    #sparkle,
    #online,
    #e-cards,
    #circle-for,
    #every-underline,
    #plane-occasion {
        scale: 1.4;
    }

    #sparkle {
        left: 370px;
        top: 50px;
    }

    #online {
        top: 55px;
    }

    #e-cards {
        top: 100px;
        left: 210px;
    }

    #circle-for {
        top: 140px;
        left: 750px;
    }

    #every-underline {
        top: 260px;
        left: 230px;
    }

    #plane-occasion {
        top: 340px;
        left: 700px;
    }

    #popular-categories-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 23px;
    }

    #popular-categories-header h2 {
        font-size: 22px;
    }

    #popular-categories-header p {
        margin: 0;
        font-size: 15px;
        display: block;
        text-align: right;
        width: 60%;
    }

    #categories-container {
        column-gap: 0;
        display: flex;
        justify-content: flex-start;
        background-color: #cfdfe8;
        border: 2.5px solid black;
        border-radius: 25px;
        padding: 10px;
        padding-left: 8px;
        margin-bottom: 12px;
    }

    .category {
        background-color: white;
        font-size: 11px;
        height: 50px;
        width: 120px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    
    #categories-container a:nth-child(7) .category, #categories-container a:nth-child(8) .category {
        display: none;

    }

    .category img {
        margin-left: 80px;
        margin-top: -15px;
        scale: .85;
    }

    #congrats-icon img {
        margin-left: 75px;
        margin-top: -16px;
    }

    #product-display-carousel h2 {
        font-size: 22px;
    }

    #send-a-gift {
        width: calc(100% - 60px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    #send-a-gift p {
        width: 400px;
    }

    #date-scroll {
        overflow-x: hidden;
        text-wrap: nowrap;
    }

    .member-section {
        width: calc(100% - 200px);
        padding: 100px;
        padding-bottom: 20px;
    }

    .member-section h2 {
        margin-left: -70px;
        margin-top: -85px;
        margin-bottom: 20px;
    }

    .member-section p {
        margin-inline:  40px;
        font-size: 15px;
    }

    .member-section img {
        scale: 1.7;
    }

    .member-section-right-align {
        align-self: flex-end;
    }

    #email-section{
        margin-top: 40px;
        width: 400px;
    }
}