#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    height: 490px;
}

#hero-envelope{
    top: 24%;
    position: relative;
    height: 190px;
    width: 158px;
}

#hero-envelope img{
    position: absolute;
    bottom: 0;
    left: 0;
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.151));
}

#hero-card{
    margin-left: 10%;
}

.doodle-text-container{
    position: absolute;
}

.hero-text{
    position: absolute;
    font-size: 30px;
}

#sparkle{
    top: 6%;
    left: 53%;
}

#online{
    top: 2%;
    left: 12%;
}

#e-cards{
    
    top: 8%;
    left: 28%;
}

#e-dash{
    top: 45px;
    left: -30px;
}
#circle-for{
    top: 10%;
    left: 67%;

}
#circle{
    top: 19px;
    left: -22px;
}

#every-underline{
    top: 60%;
    left: 21%;
}

#underline{
    top: 70px;
    left: -16px;
}

#plane-occasion{

    top: 68%;
    left: 45%;    
}

#paper-plane{
    left: 115px;    
}

#popular-categories-header{
    padding-block: 8px;
    padding-inline: 18px;
    height: fit-content;
    width: fit-content;
}

#popular-categories-header h2{
    margin: 0px;
    font-size: larger;
}

.category{
    padding-block: 12px;
    padding-inline: 18px;
    height: 55px;
    font-size: 12px;
}

.category h3{
    margin: 0px;
}

#categories-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11px;
}

#latest-additions {
    overflow-x: scroll;
    position: relative;
    padding-top: 0px;
    width: 100%;
    height: auto;
}

#latest-additions h2 {
    position: sticky;
    top: 0;
    margin-top: 10px;
    left: 18px;
    font-size: larger;
    z-index: 1;
}

#send-a-gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-inline: 30px
}

#send-a-gift h2{
    font-size: larger;
    margin: 0;
    margin-bottom: 6px;
}

#send-a-gift p{
    font-size: 12px;
    width: 265px;
    margin: 0;
    margin-bottom: 12px;
}

#date-scroll{
    font-size: large;
    text-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 12px;
    padding-block: 6px;
}

#date-scroll h2{
    margin: 0;
}

#member-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 18px;
    margin-top: 0;
}

#member-section h2{
    top: 0;
    margin-bottom: 0;
    margin-top: 0;
    left: 18px;
    font-size: larger;
}

#member-section p{
    font-size: 12px;
    max-width: 400px;
}

#member-section-right-align{
    text-align: right;
    align-self: flex-end;
}

#member-section section{
    display: flex;
    align-items: center;
}

#member-section img{
    margin-inline: 8px;
}

#member-section #clock-img{
    margin-inline: 10px;
}

#email-section{
    align-self: center;
    margin-top: 9px;
    margin-bottom: 7px;
    width: 300px;
    outline: none;
}

#email-input{
    background-color: #f6fafa;
    border: 2.5px solid black;
    border-radius: 25px 0px 0px 25px;
    height: 25px;
    box-shadow: 0px 3px;
    border-right: none;
    width: 300px;
    padding-left: 13px;
    font-family: 'Keep Calm';
    font-size: 12px;
    font-weight: 100;
}

#email-sign-up-button{
    height: 32px;
    box-shadow: 3px 3px;
    width: 100px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -20px;
    outline: none;
    /* TODO: get rid of outline */
}
