@font-face {
    font-family: 'Keep Calm';
    src: url('./Assets/font/KeepCalm-Medium.woff2') format('woff2'),
        url('./Assets/font/KeepCalm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html{
    overflow-x: hidden;
}

body{
    align-items: center;
    padding: 5px;
    font-family: 'Keep Calm';
    background-color: #f6fafa;
    overflow-x: hidden;
}

h1, h2, h3, h4{
    font-weight: lighter;
}

.back-box{
    background-color: #CFDFE8;
    border: 2.5px solid black;
    border-radius: 25px;
    margin-bottom: 12px;
    max-width: 1100px;
}

.main-button{
    color: black;
    background-color: #7AA4D6;
    border: 2.5px solid black;
    border-radius: 20px;
    padding-inline: 32px;
    padding-block: 13px; 
    box-shadow: 4px 4px;
    font-family: 'Keep Calm';
    font-size: large;
    margin-bottom: 11px;
}

header{
    display: flex;
    align-items: center;
    padding-inline: 8px;
    padding-block: 12px;
    justify-content: space-evenly;
}

.hamburger{
    height: 37px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border: none;
}

.hamburger span{
    background-color: black;
    width: 32px;
    height: 3.5px;
    display: block;
    border-radius: 25px;
}

.header-button{
    background-color: transparent;
    border: none;
}

#search-icon{
    margin-right: -10px;
}

#search-icon img{
    height: 29px;
}

#product-display-carousel {
    overflow-x: scroll;
    position: relative;
    padding-top: 0px;
    width: 100%;
    height: auto;
}

#product-display-carousel h2 {
    position: sticky;
    top: 0;
    margin-top: 10px;
    left: 18px;
    font-size: larger;
    z-index: 1;
}

.card-carousel {
    display: flex;
    width: 147%;
    max-width: 1100px;
    /* TODO: hide overflow when screen is wide enough */
    overflow-x: auto;
    justify-content: space-evenly;
}

.product-window{
    position: relative;
    height: 243px;
    width: 156px;
    background-color: #f6fafa;
    border: 2.5px solid black;
    border-radius: 25px;
    margin-bottom: 12px;
}

.product-window section{
    height: 85%;
    width: 100%;
    background-color: #f6fafa;
    border: 2.5px solid black;
    margin-left: -2.5px;
    margin-top: -2.5px;
    border-radius: 25px;
}

.card-img{
    position: absolute;
    z-index: 1;
    height: auto;
    width: 120px;
    top: 44px;
    left: 0;
}

.envelope-img{
    position: absolute;
    top: -5px;
    left: 10px;
}

.product-window h3{
    margin: 0;
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
}

#smh-background{
    background-color: #DADCB7;
}

#mfy-background{
    background-color: #EFE0C0;
}

#lgw-background{
    background-color: #D1C694;    
}

#member-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 18px;
    margin-top: 0;
}

#member-section h2{
    top: 0;
    margin-bottom: 0;
    margin-top: 0;
    left: 18px;
    font-size: larger;
}

#member-section p{
    font-size: 12px;
    max-width: 400px;
}

#member-section section{
    display: flex;
    align-items: center;
}

#email-section{
    align-self: center;
    margin-top: 9px;
    margin-bottom: 7px;
    width: 300px;
    outline: none;
}

#email-input{
    background-color: #f6fafa;
    border: 2.5px solid black;
    border-radius: 25px 0px 0px 25px;
    height: 25px;
    box-shadow: 0px 3px;
    border-right: none;
    width: 300px;
    padding-left: 13px;
    font-family: 'Keep Calm';
    font-size: 12px;
    font-weight: 100;
}

#email-sign-up-button{
    height: 32px;
    box-shadow: 3px 3px;
    width: 100px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -20px;
    outline: none;
    /* TODO: get rid of outline */
}

/* FOOTER: */

#footer-links{
    display: flex;
    justify-content: space-evenly;
    padding: 7px 11px;
    padding-bottom: 17px;
}

#footer-links section{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 30%;
}

#footer-links a{
    margin-top: 12px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgba(0, 0, 0, 0.654);
}

#social-links{
    display: flex;
    justify-content: space-evenly;
    width: 103%;
    margin-left: -2%;
    margin-bottom: 0;
}

#social-links section{
    min-width: 35px;
    padding: 5px 10px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}