#confirmation-box {
    padding-block: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

#close-button {
    position:absolute;
    top: 25px;
    left: 25px;
}

#confirmation-box h2 {
    font-size: 36px;
    width: 190px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
}

#confirmation-box p {
    font-size: 15px;
    width: 280px;
    text-align: center;
    margin-bottom: 15px;
}

#confirmation-box img {
    margin-bottom: 10px;
}

#amount-delivery-section {
    display: flex;   
}

#amount-delivery-section p, #amount-delivery-section h3 {
    width: fit-content;
    margin-block: 0;
}

#amount-delivery-section p {
    font-size: 12px;
    margin-bottom: 30px;
}

#amount-delivery-section h3 {
    font-size: 18px;
    margin-top: 5px;
}

#amount-section, #delivery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10px;
}

b {
    font-weight: 600;
}

@media only screen and (min-width: 800px){
    #confirmation-box {
        width: 100%;
        padding-block: 0;
    }

    #confirmation-box h2 {
        margin-top: 30px;
        width: fit-content;
    }

    #confirmation-box p {
        scale: 1.5;
    }

    #confirmation-box button {
        margin-bottom: 30px;
    }    

    #amount-delivery-section {
        width: 350px;
        justify-content: space-between;
        margin-top: 20px;
    }

    #delivery-section p,
    #amount-section p {
        margin-top: 5px;
    }
}