#checkout-header{
    font-size: 16px;
    margin-left: 15px;
}

#checkout-container{
    padding: 12px;
}

.inner-box{
    background-color: #ffffff;
    border: 2.5px solid black;
    border-radius: 25px;
    margin-bottom: 12px;
    padding: 12px;
    padding-top: 8px;
}

.inner-box h2{
    font-size: 17px;
    margin: 0px;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 4px;
}

.inner-box input, .inner-box select{
    background-color: #ffffff;
    border: 2.5px solid black;
    border-radius: 25px;
    padding: 7px;
    margin-bottom: 7px;
    width: 92.5%;
    padding-left: 11px;
    font-family: 'Keep Calm';
    font-size: 12px;
}

option:first-child{
    color: rgba(0, 0, 0, 0.3);
}

.inner-box .last-input{
    margin-bottom: 1.5px;   
}

.inner-box:last-child{
    margin-bottom: 0;
}

.horiz-input{
    display: flex;
    justify-content: space-between;
}

.horiz-input input{
    width: 42%;
}

.horiz-input select{
    width: 49.3%;
}

#address-section{
    position: relative;
}

#address-search-icon{
    position: absolute;
    right: 12px;
    top: 20%;
}

.order-sum-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.order-sum-item section, .order-sum-item section p{
    width: fit-content;
    font-size: 13px;
    margin: 4px;
}

.order-sum-item h3{
    font-size: 14px;
}

.order-sum-item img{
    background-color: rgb(243, 218, 181);
    border: 2.5px solid black;
    border-radius: 5px;
    height: 80px;
}

.discount-section{
    display: flex;
    flex-direction: column;
}

.discount-section section{
    display: flex;
    align-items: center;
}

#subtotal{
    display: flex;
    justify-content: space-between;
    margin-inline: 5px;
}

#subtotal h3{
    margin-block: 3px;
    font-size: 14px;
}


#total{
    display: flex;
    justify-content: space-between;
    margin-inline: 5px;
    margin-bottom: 12px;
}

#total h3{
    margin-block: 3px;
    font-size: 14px;
}

#submit-order-button{
    width: 300px;
    margin-bottom: 5px;
}

#checkout-footer{
    display: flex;
    font-size: 10px;
    justify-content: space-evenly;
    padding-block: 12px;
    margin-bottom: 0;
}