.results-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12px;
}

.results-header p {
    font-size: small;
    top: 20%;
    left: 50%;
    margin-bottom: 5px;
    margin-top: 14px;
}

.results-header h2 {
    font-size: xx-large;
    top: 50%;
    left: 50%;
    margin-top: 0;
}

#filter-result-box {
    display: flex;
    justify-content: space-between;
    padding: 0px 18px;
    font-size: 13px;
    margin-bottom: 25px;
}

#filter-result-box section {
    display: flex;
}

#filters, #results-counter {
    margin-block: 8px;
}

#results-counter {
    text-align: right;
    color: rgba(0, 0, 0, 0.571);
}

#results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

#results-grid {
    width: 80%;
    min-width: 364px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11px;
    justify-items: center;
}

.result {
    background-color: #CFDFE8;
    margin-bottom: 25px;
}

#page-counter {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.page-no {
    text-align: center;
    display: block;
    height: 20px;
    width: 20px;
}

.selected-page {
    border: 2px solid black;
    border-radius: 50%;
}

@media only screen and (min-width: 660px)  {
    #results-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1000px)  {
    #results-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 800px){
    #filter-result-box{
        width: calc(100% - 38px);
    }

    #results-grid a{
        scale: 1.2;
    }
    
    #results-grid{
        column-gap: 20px;
        row-gap: 50px;
        margin-block: 20px;
    }

    #results-grid .product-window, #results-grid .thumbnail {
        border-width: 2.08px;
    } 

    #results{
        margin-bottom:30px;
    }

}